
<footer>
    <!-- Footer area Start -->
    <div class="footer-area" style="background-color:black; margin-top:100px; padding:10px; padding-bottom:30px">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h3 class="widget-title"><i class="fa fa-comments"></i> Contact Us</h3>
                        <ul class="menu-useful-links">
                            <li><i class="fa fa-home"></i>0722211199</li>
                            <li><i class="fa fa-envelope-o"></i>flashtable0@gmail.com</li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <!-- Footer area End -->

</footer>
