<section >
    <div class="container">
        <div class="row text-center">
            <h1>
                <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-gift-card-black-friday-cyber-monday-flaticons-flat-flat-icons.png" />

            </h1>
            <h2 style="color:white">
                Gift card created successfully!
            </h2>
            <h3 style="color:white">
                Your friend will receive an email from Flash Table team containing all neccessary data about the gift card.
                <br />

            </h3>


        </div>
        <h3 style="color:white">  If he/she did not receive the email please contact support.</h3>
    </div>
</section>