@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*<section class="top-main">
    <div class="top-site-images">
        <img src="~/images/header1.jpg" alt="">
    </div>
    <div class="page-title-wrapper">
        <div class="container">
            <div class="banner-wrapper">
                <h1 class="heading">About Us</h1>
                <p class="description">REMY - BEST BOOTSTRAP HTML5 RESTAURENT TEMPLATE</p>
            </div>
        </div>
    </div>
</section>*@



<div class="page-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="images">
                    <img src="~/images/rservation.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-text" style="color:white">
                    <h1>Our wish...</h1>
                    <h3 class="description">Comfort + Quality + Time saving</h3>
                    <p style="color:white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magnam, et quo aliquam dolore aut eveniet possimus! Quos sapiente ad, culpa quas, nisi molestias quam nostrum ipsa voluptatem vel accusantium.
                    </p>
                    <p style="color:white">
                        Donec at metus ut mauris facilisis elementum. Phasellus scelerisque dui urna. Sed eu vehicula magna, nec accumsan enim. Vestibulum ornare metus sed dolor scelerisque rhoncus. Donec sollicitudin felis et feugiat fermentum. Nunc finibus odio ullamcorper massa lacinia, eu tincidunt urna lacinia. Phasellus vulputate convallis luctus.Nulla sollicitudin, eros quis laoreet vulputate, enim erat rutrum justo, ultrices tempus elit quam vel nulla.
                    </p>
                    <a asp-controller="Home" asp-action="Restaurants" class="btn btn-common">View Restaurants</a>
                </div>
            </div>
        </div>
    </div>

 

</div>