@model RestaurantCreateViewModel

@{ ViewBag.Title = "Add a new restaurant";
    float lat = 0;
    float lon = 0;
    }

<form enctype="multipart/form-data" id="myForm" class="mt-3">

    <div class="form-group row">
        <label asp-for="RestaurantName" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="RestaurantName" class="form-control" placeholder="Name">
            <span asp-validation-for="RestaurantName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PhoneNo" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="PhoneNo" class="form-control" placeholder="Phone">
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Type" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-10">
            <select asp-for="Type" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<RestType>()">
                <option value="">Please select</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label asp-for="nrPersMax" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="nrPersMax" class="form-control" placeholder="Max no of persons">
            <span asp-validation-for="nrPersMax" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label asp-for="openHour" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="openHour" class="form-control" placeholder="Open hour">
            <span asp-validation-for="openHour" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label asp-for="closingHour" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="closingHour" class="form-control" placeholder="Closing hour">
            <span asp-validation-for="closingHour" class="text-danger"></span>

        </div>
    </div>
    <div hidden class="form-group row">
        <label asp-for="Latitude" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="Latitude" class="form-control" placeholder="Latitude" id="latInput">
            <span asp-validation-for="Latitude" class="text-danger"></span>

        </div>
        @*<div id="map" style="height:230px; width:100%" onclick="onMapClick()">

            </div>*@

        
    </div>
    <div class="form-group row">
        @*<label asp-for="Latitude" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="Latitude" class="form-control" placeholder="Latitude" id="latInput">
            <span asp-validation-for="Latitude" class="text-danger"></span>*@
        <span> Address</span>
        <input type="text" id="txtPlaces" required />

    </div>
    </div>
    <div hidden class="form-group row">
        <label asp-for="Longitude" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-10">
            <input asp-for="Longitude" class="form-control" placeholder="Longitude" id="lngInput">
            <span asp-validation-for="Longitude" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label style="color:white" asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" multiple class="form-control custom-file-input">
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label style="color:white" asp-for="GalleryFiles" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="form-control custom-file-input">
                <label class="custom-file-label">Choose restaurant pictures...</label>
            </div>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-common" id="btnSubmit">Create</button>
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDq_B5S5fvlG2VbaEYRDkG59Wc7pjs4ZbQ"></script>

        <script>


            google.maps.event.addDomListener(window, 'load', function () {
                var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
                google.maps.event.addListener(places, 'place_changed', function () {
                    var place = places.getPlace();
                    var address = place.formatted_address;
                    var latitude = place.geometry.location.lat();
                    var longitude = place.geometry.location.lng();


                    //var mesg = "Address: " + address;
                    //mesg += "\nLatitude: " + latitude;
                    //mesg += "\nLongitude: " + longitude;
                    //alert(mesg);



                    document.getElementById("latInput").value = latitude;
                    document.getElementById("lngInput").value = longitude;

                });
            });



            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });



                $("#btnSubmit").click(function () {

                    var data = $("#myForm").serialize();

                    $.ajax({
                        type: "POST",
                        url: "/Home/AddRestaurant",
                        data: data,
                        success: function (response) {
                            alert("you are done")
                            window.location = "https://localhost:44354/Home/Restaurants"
                        }
                    })
                })


            });




        </script>
        @*<script src="https://maps.googleapis.com/maps/api/js?key=@(ViewData["MyKeyMaps"])&callback=initMap"
            async defer></script>*@

    }
</form>