@model EditRestaurantViewModel

@{ ViewBag.Title = "Edit restaurant";
    var photoPath = "../../images/" + (ViewBag.ExistingPhoto ?? "noimage.jpg");

    }

<form enctype="multipart/form-data" asp-controller="home" asp-action="EditRestaurant" method="post" class="mt-3 row">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />
    <input hidden asp-for="ExistingRestaurantGallery" />
    <div class="form-group col-md-6">
        <label asp-for="RestaurantName" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="RestaurantName" class="form-control" placeholder="Name">
            <span asp-validation-for="RestaurantName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="PhoneNo" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="PhoneNo" class="form-control" placeholder="Phone">
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Description" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="Type" class="col-sm-2 col-form-label" style="color:white ; padding:10px"></label>

        <div class="col-sm-12">
            <select asp-for="Type" class="custom-select mr-sm-2 form-control"
                    asp-items="Html.GetEnumSelectList<RestType>()">
                <option value="">Please select...</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="nrPersMax" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="nrPersMax" class="form-control" placeholder="Max no of persons">
            <span asp-validation-for="nrPersMax" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="openHour" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="openHour" class="form-control" placeholder="Open hour">
            <span asp-validation-for="openHour" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="closingHour" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="closingHour" class="form-control" placeholder="Closing hour">
            <span asp-validation-for="closingHour" class="text-danger"></span>

        </div>
    </div>
    <div hidden class="form-group col-md-6">
        <label asp-for="Latitude" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="Latitude" class="form-control" placeholder="Latitude" id="latInput">
            <span asp-validation-for="Latitude" class="text-danger"></span>

        </div>
    </div>
    <div hidden class="form-group col-md-6">
        <label asp-for="Longitude" class="col-sm-2 col-form-label" style="color:white; padding:10px"></label>
        <div class="col-sm-12">
            <input asp-for="Longitude" class="form-control" placeholder="Longitude" id="lngInput">
            <span asp-validation-for="Longitude" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="col-sm-2 col-form-label" style="color:white; padding:10px"> Address</label>
        <div class="col-sm-12">

            <input type="text" id="txtPlaces" required class="col-md-12 form-control" />
        </div>

    </div>
    <div class="form-group col-md-6">
        <label style="color:white" asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-12">
            <div class="custom-file">
                <input asp-for="Photo" multiple class="form-control custom-file-input">
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
    </div>


    <div class="form-group col-md-6">
        <label style="color:white" asp-for="GalleryFiles" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-12">
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="form-control custom-file-input">
                <label class="custom-file-label">Add new restaurant pictures...</label>
            </div>
        </div>
    </div>
    <div>   <img src="@photoPath" class="imageCustom" asp-append-version="true"></div>


    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <div class="col-sm-12 row justify-content-center">
        <button type="submit" class="btn btn-common col-md-2 col-sm-2">Update</button>
        <a class="btn btn-common col-md-2 col-sm-2" asp-controller="home" asp-action="index">Cancel</a>
    </div>


    @section Scripts {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDq_B5S5fvlG2VbaEYRDkG59Wc7pjs4ZbQ"></script>

        <script>
            google.maps.event.addDomListener(window, 'load', function () {
                var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
                google.maps.event.addListener(places, 'place_changed', function () {
                    var place = places.getPlace();
                    var address = place.formatted_address;
                    var latitude = place.geometry.location.lat();
                    var longitude = place.geometry.location.lng();


                    document.getElementById("latInput").value = latitude;
                    document.getElementById("lngInput").value = longitude;

                });
            });

            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>