@*@model System.Collections.Generic.List<LICENTA5.Models.Restaurant>*@

@model IndexViewModel

@inject IStoreRepository repository
@{
    var clicked = 0;

    Random rand = new Random();
    int toSkip = rand.Next(1, repository.Restaurants.Count());
    Restaurant res = null;

    res = repository.Restaurants.Skip(toSkip).Take(1).FirstOrDefault();
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}



<section class="top-main">
        <div class="top-site-images">
            @*<img src="~/images/header1.jpg" alt="">*@
        </div>
        <div class="page-title-wrapper">
            <div class="container">
                <div class="banner-wrapper" style="width:60%">

                    @*<form method="get">
                        <div class="input-group">
                            <input class="form-control" asp-for="@Model.SearchTerm">
                            <div class="input-group-append" style="padding-bottom:20px">
                                <button class="btn btn-common" type="submit" style="padding:10px"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>*@

                </div>
            </div>
        </div>
    </section>
<div style="padding-top:30px">

    <!--<partial name="RestaurantSummary" model="@Model.RandomRestaurant" />
    </div>-->
    @if (Model.SearchTerm != null)
    {
        @foreach (var v in Model.RestaurantsList)
        {
            <partial name="RestaurantSummary" model="v" />
        }
    }





    <div class="container-buttons">
        <div class="about-us">
            <div class="who-we-are">


            </div>
            <div class="cards" style="display:flex; justify-content: center; align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 0px;
    ">

                <div class="card" style="width:250px; margin-right: 20px; background-color:transparent; color:white">

                    <div class="card-body">

                        <a href="https://localhost:44354/home/RestaurantDetails/@Model.RandomRestaurant.RestaurantID" class="btn btn-common" style="padding:10px"><i class="fa-solid fa-lightbulb fa-3x" onclick="help()"></i></a>
                        <span style="color:white"><b>RANDOM</b></span>
                        <p style="color:white">Trying new things is important! Let us choose a random restaurant for you.</p>
                    </div>
                </div>




                <div class="card" style="width:250px;margin: 20px; background-color:transparent;color:white">

                    <card class="card-body">
                        <a href="https://localhost:44354/home/RestaurantDetails/@Model.NearestRestaurant.RestaurantID" class="btn btn-common" style="padding:10px"><i class="fa-solid fa-location-crosshairs fa-3x"></i></a>
                        <span style="color:white"><b>AT HAND</b> </span>
                        <p style="color:white">You do not always need to go too far for good food. Let's see the nearest restaurant for you.</p>
                    </card>
                </div>

                <div class="card" style="width:250px;margin: 20px; background-color:transparent;color:white">

                    <card class="card-body">
                        <a href="https://localhost:44354/home/RestaurantDetails/@Model.MostPopularRestaurant.RestaurantID" class="btn btn-common" style="padding:10px"><i class="fa-solid fa-fire fa-3x"></i></a>
                        <span style="color:white"><b>POPULAR</b></span>
                        <p style="color:white">Have the best client exeprience at one of our most popular restaurant amoung users</p>
                    </card>
                </div>




            </div>
        </div>
    </div>


    <div class="page-container" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="images">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="~/images/HomeSlides/fun&friends2.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Have fun with your friends</h5>
                                        <p style="color:white">We are sure that we can help you find a place for all of you</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/images/HomeSlides/date2.jpg" alt="Second slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Date night</h5>
                                        <p style="color:white">Some time for just the two of you wold be nice. Hurry up and book a table!</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/images/HomeSlides//quiet&fancy2.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Chill day</h5>
                                        <p style="color:white">Maybe you need a quiet, yet fancy place for today</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <div style="color:white">
                        <h1>What can you find here?</h1>

                        <p style="color:white">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magnam, et quo aliquam dolore aut eveniet possimus! Quos sapiente ad, culpa quas, nisi molestias quam nostrum ipsa voluptatem vel accusantium.
                        </p>
                        <p style="color:white">
                            Donec at metus ut mauris facilisis elementum. Phasellus scelerisque dui urna. Sed eu vehicula magna, nec accumsan enim. Vestibulum ornare metus sed dolor scelerisque rhoncus. Donec sollicitudin felis et feugiat fermentum. Nunc finibus odio ullamcorper massa lacinia, eu tincidunt urna lacinia. Phasellus vulputate convallis luctus.Nulla sollicitudin, eros quis laoreet vulputate, enim erat rutrum justo, ultrices tempus elit quam vel nulla.
                        </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-xs-6 justify-content-center " style="color:white">

                <h1 style="color:white;text-align:center;margin-top:100px" >
                    Offer a gift card!
                    <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-gift-card-black-friday-cyber-monday-flaticons-flat-flat-icons.png" />

                </h1>
                <section class="accordion_two_section ptb-100">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 accordionTwo">
                                <div class="panel-group" id="accordionTwoLeft">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftone" aria-expanded="false" class="collapsed"> How to use the gift card? </a> </h4>
                                        </div>
                                        <div id="collapseTwoLeftone" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        -> After you buy a credit card for a friend they will receive an email with the generated QR code, the value and the valability period.
                                                        The card can be used at any of the partner restaurants.
                                                    </li>
                                                    <li>
                                                        -> A reservation must be made through Flash Table and the card can be used by presenting the QR code at the restaurant.
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftTwo" aria-expanded="false"> Availability</a> </h4>
                                        </div>
                                        <div id="collapseTwoLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                            <div class="panel-body"> The gift card is availabale for 6 month after it was issues. The email that we'll send will contain the unique QR code together with the period it can be used. </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftThree" aria-expanded="false"> How to buy? </a> </h4>
                                        </div>
                                        <div id="collapseTwoLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                            <div class="panel-body">Click on the button bellow, choose a value for the gift card and make sure you enter a correct email account. You can also write your friend a message that it will be also emailed.</div>
                                            <div class=" row justify-content-center"> <a style="color:white" asp-action="BuyGiftCard" asp-controller="Home" class="btn btn-common"><b>Buy</b></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <img src="~/images/giftcard/qrcode.jpg" />
                            </div>
                        </div>
                    </div>
                </section>




            </div>
        </div>




    </div>
    <div class="instructions" style="color:white">
        <h1>Need help? Making a reservation at ... is very easy!</h1>
        <br />
        <h3>1. Go to Restaurants section and pick your favourite</h3>
        <br />

        <h3>2. Click on Book table button</h3>
        <br />
        <h3>3. Complete the form with your desired date, people and hour. Click on CREATE button</h3>
        <br />

        <h3>You're all done! You should be able to see your reservation and its details on My Reservations </h3>

    </div>
    @section header{

        <form method="get">
            <div class="input-group">
                    <input class="form-control" asp-for="@Model.SearchTerm" style="opacity:0.7">
                <div class="input-group-append">
                    <button class="btn btn-common" type="submit" style="height: 100%;margin: 0px;padding-bottom: 5px;padding-top: 2px;margin-left: 8px; "><i class="fa-solid fa-magnifying-glass" style=" padding-top: 5px;"></i></button>
                </div>
            </div>
        </form>
    }
    <script>




    </script>
