@model LICENTA5.Models.ViewModels.RestaurantsListViewModel
@inject SignInManager<ApplicationUser> signInManager;
@{
    Layout = "~/Views/Shared/_RestaurantsLayout.cshtml";
    var categ = @Model.CurrentCategory;
}


<div style="width:100%; margin-top: 40px">
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="addRestaurant" asp-controller="home" class="btn btn-common">Add restaurant</a>

    }
</div>


<div class="containerRest">
    @foreach (var p in Model.Restaurants)
    {
        if (p.Confirmed == true)
        {
            <partial name="RestaurantSummary" model="p"/>
        }
    }

    <div page-model="@Model.PagingInfo" page-action="Restaurants" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-light"
         page-class-selected="btn-common" page-url-type="@Model?.CurrentCategory!" class="btn-group pull-right m-1">

    </div>


</div>

@section header{

    <div id="categories">
       @* <ul class="nav nav-tabs nav-pills orange" role="tablist" style="text-size-adjust:150%; ">*@

            <vc:navigation-menu/>

        @*</ul>*@

           


       
    </div>
}

   @section Scripts{   
     
     <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
      <script>
  $(document).on('click', 'ul li', function(){
      $(this).addClass('active')
  })

    </script>}

