@*@model IEnumerable<Reservation>*@
@model YourReservationsViewModel
@inject SignInManager<ApplicationUser> signInManager;

@{
    var currentHour = ViewBag.CurrentHour;
    DateTime currentDate = ViewBag.CurrentDate;
}

<div class="containerRest row">



    <h3 class="col-md-6" style="color:white; height:120px">Thank you for choosing us! You can se all your reservations here...</h3>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Premium-User"))
    {

        <div class="container d-flex justify-content-center col-md-6">
            <div class="row">
                <div class="col-md-6"> <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal"><i class="fa-solid fa-crown fa-2xl"></i></button> </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="card">
                    <div class="text-right cross"> <i class="fa fa-times"></i> </div>
                    <div class="card-body text-center">
                        <img src="https://img.icons8.com/external-microdots-premium-microdot-graphic/100/000000/external-crown-business-finance-vol4-microdots-premium-microdot-graphic.png" />

                        <h4 style="color:black">CONGRATULATIONS!</h4>
                        <hr />
                        <p style="color:black">You have reached 10 reservation through us! Your account has been upgraded to Premium.</p> <button class="btn btn-out btn-square continue">CONTINUE</button>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="col-md-12" style="color:white">
        <a style="color:white" asp-action="YourReservations" asp-route-sortOrder="@ViewData["DateSortParm"]">Order by date</a>
    </div>

    @foreach (var p in Model.Reservations)
    {
        <partial style="min-width: 18rem; max-width:30.5%;" name="ReservationSummary" model="p" view-data='@new ViewDataDictionary(ViewData) { { "CurrentHourForPartial", currentHour }
                                             , {"CurrentDateForPartial", currentDate } }' />

    }



</div>
<div page-model="@Model.PagingInfo" page-action="YourReservations" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-common" class="btn-group pull-right m-1">
    
</div>


}