<h1 style="color:white">Welcome to Flash Table</h1>
<div class="row" style="margin:20px">
    <h2 style="color:white" class="col-md-8"> If you are the owner of a restaurant, this app is for you!</h2>
    <a asp-action="addRestaurant" asp-controller="home" class="btn btn-common col-md-3" style="width:auto">I am interested</a>
</div>
<div class="row" style="color:white">
    <div class="col-md-6">
        <img src="~/images/NewBusinessInfo/1st.jpg"/> 
    </div>
    <div class="col-md-6" style="justify-content:center">
        <h3>Give up the old physical registers</h3>
        <h5>Keeping track of the reservations is easier now. 
        Use Flash Table and see the reservations in real time
        </h5>
    </div>
</div>
<div class="row" style="color:white; margin:20px">

    <div class="col-md-6" style="justify-content:center; align-content:center">
        <h3>Receive reservations 24/7</h3>
        <h5>
            With Flash table people can book tables even if the restaurant is closed, or the personnel is busy.
        </h5>
    </div>
    <div class="col-md-6">
        <img src="~/images/NewBusinessInfo/2nd.jpg" />
    </div>
</div>
<div class="row" style="color:white; margin:20px">
    <div class="col-md-6">
        <img src="~/images/NewBusinessInfo/4th.jpg" />
    </div>
    <div class="col-md-6" style="justify-content:center; align-content:center">
        <h3>Mistakes happen</h3>
        <h5>
           Join Flash Table and you clients can easily check their reservations without the need to contact you.
            
        </h5>
    </div>

</div>
<div  style="color:white; margin:20px">
    <h1> Join now! </h1>
    <h2>The process is simple:</h2>
    <h2>
        <ul>
            <li>Go on top of the page and click "I am intereted" button</li>
            <li>Enter your business details</li>
            <li>Wait for your request to be approved</li>

        </ul>
    </h2>

</div>